ANALYTICS_SERVICE_URL=
ANOMALY_SERVICE_URL=
COOKIE_DOMAIN=
JWT_SECRET=fairgig-dev-secret-key-2025
MONGODB_URI=mongodb+srv://awaismumtaz1406_db_user:2XtvSDtOAfllgkXl@cluster0.pvblfeu.mongodb.net/fairgig?retryWrites=true&w=majority
VITE_AUTH_API=
VITE_CERTIFICATE_API=
VITE_EARNINGS_API=
VITE_GRIEVANCE_API=